
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align:center">
    <h2>CheckOut Successfull</h2>
    <h4>Đơn hàng đã được xác nhận, hàng sẽ được gửi đến bạn trong vòng 2-3 ngày. Cảm ơn quý khách.</h4>
    <a href="@Url.Action("Index","Home")">Tiếp tục mua hàng...</a>
</body>
</html>
