@model IEnumerable<ComicsStore.Models.Product>

<link href="~/Content/ProViewStyle.css" rel="stylesheet" />


<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

<ul class="listing">
    @foreach (var pro in Model)
    {
        if (pro.Hot == true)
        {
            <li class="product">
                <a class="img-wrapper" href="~/Products/Details/@pro.ProductID">
                    <img src="@Url.Content(pro.ImagePro)" height="240" width="240" alt="Blue running shoe" />
                </a>

                <div class="info">
                    <div class="title">@Html.DisplayFor(model => pro.NamePro)</div>
                    <div class="price">@Html.DisplayFor(model => pro.Price)</div>
                </div>

                <div class="actions-wrapper">
                    <a href="#" class="add-btn wishlist">Lưu</a>
                    <a href="#" class="add-btn cart">Thêm vào giỏ hàng</a>
                </div>
            </li>
        }



    }
</ul>

